<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424632456053-73vc1tigk60vd3umf739ddm1ldl9o5vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424632456053-73vc1tigk60vd3umf739ddm1ldl9o5vn</string>
	<key>API_KEY</key>
	<string>AIzaSyCuP2f2zXRF_H2XKKnz0CQ4O1EISebE1bw</string>
	<key>GCM_SENDER_ID</key>
	<string>424632456053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmnouira.flutteracademy.flutterAcademy</string>
	<key>PROJECT_ID</key>
	<string>flutter-academy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-academy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424632456053:ios:c5a664f92d53a26e2db93c</string>
</dict>
</plist>